<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xiQCameraUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <xiQCameraUI.Properties.Settings>
            <setting name="FPS" serializeAs="String">
                <value>20.5</value>
            </setting>
            <setting name="Gain" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Exposure" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Save_FileFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Xshift" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="Yshift" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExpCorrect" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DigitCorrect" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FolderName" serializeAs="String">
                <value>C:\xiqCamera\Images</value>
            </setting>
        </xiQCameraUI.Properties.Settings>
    </userSettings>
</configuration>
